/*
	CSS Ruleset - selector with declaration blocks
	selector {
		property: value;
	}
*/

/*h1 { color: springgreen; }*/

/*
	CSS Specificity Rules
		STYLES
			Inline styling - highest priority
			Internal styling - 
			External styling - lowest priority
	!importance - breaks this priority
		SELECTORS
			ID - highest priority
			Class
			Attribute
			Type
			Universal - least priority
*/

/*
	- The "h1" is a "type selector" and is used to target elements with a specified type/tag name.
	- The "color" property changes the color of text.
*/

/* S E L E C T O R S */
/* Tag Selector - tag-name */
h1 {
	color: springgreen !important;
}
/*
	- The "!important" property has the highest priority. Using this will prioritize the property.
	- When several "!important" properties are present for multiple stylings targeting the same element, the CSS Specificity Rule is followed for all rules with the "!important" property
*/
/* Universal Selector - * */
* {
	font-family: "Courier New", monospace;
	font-size: 20px;
}
/*
	- The "*" symbol is a "universal selector" and is used to target all elements.
	- When changing the style of elements, apply the changes per line and show the students the output.
	- Multiple properties may be added for different CSS Rules.
	- Some properties may also accept multiple values.
	- The "font-family" property changes the style of the font.
	- The value "Courier New" is used as the primary font and the value "monospace" is used as a secondary font when a browser is unable to use the primary font.
	- The "font-size" property changes the size of text.
	- The value "20px" refers to 20 pixels in size.
*/

/* ID Selector - #id-name */
#zuitt-motto {
	letter-spacing: 5px;
}
/*
	- The "letter-spacing" property changes the spaces in between characters of a text.
*/
/* Class Selector - .classname */
.offering-item {
	text-transform: uppercase;
}
/*
	- The "text-transform" property changes font to a certain case.
	- The value "uppercase" changes the text to all capitalized letters.
*/

/* Attribute Selector - tag-name[attribute] */
/*
	- The "text-transform" property changes font to a certain case.
	- The value "uppercase" changes the text to all capitalized letters.
*/
input[required] {
	border-width: 2px; 
	border-style: solid;
	border-color: navy;
}
/*
	- The attribute selector only works based on the exact attribute syntax provided in the HTML tag. It's also case sensitive.
*/

/*h3 { letter-spacing: 25px }*/
/* ID selectors have the highest priority */

/* C O M B I N A T O R S */
/* Adjacent Sibling Selector - selector + selector */
/*h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}*/
#zuitt-motto + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}
/*
	- The selectors used for combinator selectors aren't restricted to type selectors only. ID, class, attribute and universal selectors may also be used.
	- The "height" property changes the vertical dimensions of an element.
	- The "width" property changes the horizontal dimensions of an element.
	- The "border-radius" property changes the corners of an element from a sharp to a rounded corner. The higher the value the more rounded the corners are.
*/

/* Descendant (Child, Granchild) Selector - selector selector (whitespace) */
#bootcamp-learning-list li {
	color: #075966;
}
/*
	- The "color" property and similar properties that change color can also accept hex values. Hexadecimal values consist of the pound (#) sign in combination with 6 alphanumeric characters.
*/

/* General Sibling Selector - selector ~ selector */
h2 ~ a {
	text-decoration: none;
}

/* Child Selector - selector > selector */
body  > section > form > label {
	color: rgb(0,0,128);
}

body {
	background-color: skyblue;
}

html {
	scroll-behavior: smooth;
}

nav {
	background-color: white;
}
/* selector:hover pseudo class */
/* Changes the style when hovered */
a:hover {
	background-color: #b4d6de;
}

div {
	display: inline-block;
	float: right;
}

section {
	height: 100vh;
}

h2 {
	font-size: 1.5rem;
}

ol{
	list-style-type: none;
}

form {
	text-align: center;
	background-color: white;
	border: 2px solid black;
	height: 185px;
	width: 25vw;
	position: relative;
	left: 37.25%;
}

button {
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;
}

/*
	- The "background-color" property changes the background color of an element.
	- The "scroll-behavior" property changes the scrolling behavior when clicking on anchor tags.
	- The value "smooth" changes the scrolling behavior of a page jumping from one section to the next to smoothly scroll to a section.
	- The "a:hover" pseudo class will change the style of an element when it is hovered over.
	- The "display" property changes the visibility and the behavior of an element's box.
	- The value "inline-block" will allow the div element to be inline with sibling elements and occupy the remaining space as if it were a block element.
	- The "float" property changes the horizontal alignment of an element to float either to the left or right of it's container.
	- The "text-align" property changes the horizontal alignment of text or all nested text elements.
	- The "font-size" property changes the size of text.
	- The value "rem" is based on the "font-size" property of the "root element". In this case, the "font-size" of the root element is at "20px" defined by the Universal Selector. The rem value acts as a multiplier of this value. "2rem" is equivalent to "20px". Using this value for text allows us to implement consistency within text styles instead
	- The default value of the root element is at "16px.
	- The value "vh" refers to viewport height. This value is based on a percentage of the browser's screen size and is good to use for elements that we want to have a responsive change in size referencing the browser's screen.
	- The "list-style-type" property changes the bullet point used in a list.
	- The value "none" will remove the bullet points from a list.
	Tip:
		- CSS rules may be applied to multiple selectors using a comma (,). Add the a tag after the Generic Sibling Selector (h2 ~ a, a) to also apply the properties defined in the rule to apply to a tags and remove the underline.
	- Some CSS properties have a shorthand property that combines several properties into one. An example of this is the "border" property which combines the "border-width", "border-style" and "border-color" properties into one.
	- The value "2px solid black" refers to the "border-width", "border-style" and "border-color" properties respectively.
	- Use "absolute measurements" like "px" for elements that we don't want to change in dimension regardless of screensize. "relative measurements" like "vw" and "vh" are good for responsive design.
	- The value "vw" refers to viewport width.
	- The "position" property changes the position of an element based on certain criteria. This topic would be better understood after discussing the next session.
	- The value "relative" tells the element to move in relation to it's original position in the HTML document.
	- The "left" property is used along with the "position" property to add a certain measurement to the left of an element. The "right", "top" and "bottom" properties also function the same way. Though only two at a time is recommended to be used to position elements. Either the "top" or "bottom" for vertical alignment and the "left" and "right" for horizontal alignment.
	- The value "%" is based on the measurement of the parent element. The parent element is the "section" tag which is a block element and occupies the full width of the page. In this case, the value of the "left" property is "37.25%" of "100%".
*/
