*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Open Sans', sans-serif;
}

nav {
    padding: 3px;
    padding-left: 8%;
    padding-right: 8%;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .10);
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    
}

.nav, .nav-logo {
    margin: 0.5rem;
    padding: 3px;
}

.nav {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

.tuitt-button {
    color: white;
    padding: 10px;
    width: 134px;
    text-align: center;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    background-color: #c2195b;
    border-color: transparent;
    border-radius: 25px;
    box-shadow: 0 2px 3px rgb(0 0 0 / 10%);
}


#logo {
    padding-top: 8px;
    padding-left: 5px;
}

.right-nav {
    float: right;
}


#bg-image{
	margin-bottom: 15vh;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-position: left;
	background-attachment: scroll;
	background-size: 1800px;
	min-height: 50vh;

}	
.front-bg{
	background-color: rgba(1, 1, 1, 0.5);
	min-height: 50vh;
}
.container{
	text-align: right;
	padding-left: 50%;
	padding-right: 5%;
}
.title{
	font-family: "Zilla Slab";
	font-size: 3rem;
	float: right;
	color: white;
	margin-bottom: 1rem;
}
.subtitle{
	color: white;
	font-weight: lighter;
	margin-left: 30%;
	margin-bottom: 1rem;
}
.apply-button{
	background-color: #c2195b;
	color: white;
	font-weight: bold;
	padding: 1rem;
	font-size: 1rem;
	border-radius: 25px;
	border-color: #c2195b;
}	

.intro{
	margin-bottom: 15vh;
	padding-left: 15rem;
	padding-right: 15rem;
}
.title-2{
	font-family: "Zilla Slab";
	font-size: 2rem;
	margin-bottom: 3rem;
	text-align: center;
}
.pre-footer{
	background-color: #f7fbfb;
	padding-left: 15rem;
	padding-right: 15rem;
	text-align: center;
	padding-bottom: 5rem;
}
.prefooter-description{
	margin-bottom: 3rem;
}
.book-button{
	background-color: #336589;
	width: 15rem;
	color: white;
	font-weight: bold;
	padding: 1rem;
	font-size: 1rem;
	border-radius: 25px;
	border-color: #336589;
}
footer{
	text-align: center;
}